button.active {
    background-color: rgb(65, 98, 168);   // de modificat eventual
    color : white ;
}
// .filter-container{
//     height:40px;
// }

.btn {
    width: 90px;
}
.btn {
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    padding: 10px;
  }
//   &:hover {
//     opacity: 1;
//     transform: translate(0, 0px);
//   }